@{
    ViewBag.Title = "Home Page";
}

<div id="index-title-label" class="fullscreen">
    <h3>Finance Break Down</h3>
</div>

@Html.ActionLink("Go","IncomeName", "Finance", new { area = "" }, new { @class= "btn btn-primary-custome fullscreen", @id="index-go-actionlink" })
